<dialog id="about"
    class="fixed inset-0 m-auto p-4 bg-[#fff4da] border-3 rounded-xl border-gray-900 shadow-[10px_10px_0px] shadow-gray-900  backdrop:backdrop-blur-sm backdrop:bg-black/30">
    <div class="flex justify-between items-center mb-2 font-bold text-xl">
        <span>payment & feedback</span>
        <button autofocus _="on click call #about's close()">
            <span class="material-symbols-outlined text-2xl">close</span>
        </button>
    </div>
    <div class="grid grid-cols-2 gap-x-1 gap-y-2 text-sm justify-items-start align-items-center">
        <span class="font-medium text-gray-600">bank</span>
        <span class="col-span-1 font-semibold">hana bank</span>

        <span class="font-medium text-gray-600">name</span>
        <span class="col-span-1 font-medium">apriliyanto fada</span>

        <span class="font-medium text-gray-600">account number</span>
        <span class="col-span-1 font-medium tracking-wide">3989 1053 191007</span>

        <span class="font-medium text-gray-600">confirmation</span>
        <span class="col-span-1 font-medium tracking-wide">010 5608 2996</span>

        <span class="font-medium text-gray-600">feedback (hatta)</span>
        <span class="col-span-1 font-medium tracking-wide">010 3854 6810</span>
    </div>
</dialog>
                        <h3 class="text-xl tracking-tight">
                            <button class="hover:opacity-80 transition-opacity" _="on click call #about's showModal()">
                                <span class="text-gray-800">About</span>
                            </button>
                        </h3>