{% extends "shared/_layout.html" %}
{% block main_content %}



<div class="relative max-w-4xl mx-auto  p-4">
  <div class="relative border-3 rounded-xl border-gray-900 shadow-[10px_10px_0px] shadow-gray-900 p-2 z-10">
    <div class="flex gap-2.5 mb-2.5">
      <div class="flex-1 relative">
        <div class="border-2 rounded-md border-gray-900 shadow-[4px_4px_0px] shadow-gray-900 border-gray-300 bg-sky-50">
          <input class="p-2 w-full border-none text-sm" autocomplete="off" autocorrect="off" autocapitalize="off"
            spellcheck="false" hx-indicator="#loading" type="search" hx-get="/search"
            hx-target="#search-result-container" hx-swap="innerHTML" hx-trigger="keyup changed delay:300ms" name="q"
            placeholder="Search..." clearable _="
    on input
      if my value.trim() != '' 
        remove .hidden from #search-result-container
      else 
        add .hidden to #search-result-container
      end

    on click from document
      if event.target is not in me and event.target is not in #search-result-container
        add .hidden to #search-result-container
        set me.value to ''
      end
    end
  " />
        </div>

        <div id="search-result-container"
          class="hidden mt-2 p-1.5 flex flex-col gap-2 absolute border-2 rounded-md border-gray-900 shadow-[4px_4px_0px] shadow-gray-900 max-h-70 w-full overflow-y-auto z-20 bg-sky-50">

          <div id="loading">loading...</div>
        </div>

      </div>


      <div id="search-camera"
        class="w-10 flex flex-row gap2 border-2 rounded-md border-gray-900 shadow-[4px_4px_0px] shadow-gray-900 flex items-center justify-center cursor-pointer">
      </div>

    </div>

    <div class="flex flex-wrap gap-1 max-w-sm">
      <div class="flex items-center gap-1 py-1 px-2.5 bg-gray-100 border border-gray-300 text-sm">
        <span>Apple</span>
      </div>
      <div class="flex items-center gap-1 py-1 px-2.5 bg-gray-100 border border-gray-300 text-sm">
        <span class="truncate max-w-[6rem]">Banananananannanananana</span>
      </div>
    </div>
  </div>



  <div id="cart-container" 
  class="flex flex-col gap-2 border-3 rounded-xl border-gray-900 shadow-[10px_10px_0px] shadow-gray-900 mt-4 h-120 p-2 overflow-y-auto"
  ></div>

    <!-- <div id="cart-item-2" class="border-2 rounded-md border-gray-900 shadow-[4px_4px_0px] h-24 flex overflow-hidden bg-white">
      <div class="w-21 flex-shrink-0 bg-gray-200">
        <img src="https://plus.unsplash.com/premium_photo-1724249990838-f6dfcb7f3eaa?q=80&amp;w=1287&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.1.0&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="apple" class="w-full h-full object-cover">
      </div>
      <div class="flex-2 flex flex-col justify-between p-3 min-w-0">
        <div class="flex items-start justify-between gap-3">
          <div class="flex-2 min-w-0">
            <div class="text-sm font-bold truncate">
                Apple
            </div>
            <div class="text-xs text-gray-601 mt-0.5">₩10,000/pcs</div>
          </div>
          <button class="text-gray-501 hover:text-red-600 flex-shrink-0" _="
          on click remove #cart-item-2 ">
            <span class="material-symbols-outlined text-xl">close</span>
          </button>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2.5">
            <button class="w-7 h-6 flex items-center justify-center border border-gray-900 rounded hover:bg-gray-100">
              <span class="material-symbols-outlined text-base">remove</span>
            </button>
            <span class="text-sm w-7 text-center font-medium">3</span>
            <button class="w-7 h-6 flex items-center justify-center border border-gray-900 rounded hover:bg-gray-100">
              <span class="material-symbols-outlined text-base">add</span>
            </button>
          </div>
          <div class="text-base font-bold">₩29,000</div>
        </div>
      </div>
    </div> -->




  </div>


  <div id="checkout-container" class="border-3 rounded-xl border-gray-900 shadow-[10px_10px_0px] shadow-gray-900 mt-4">

    <p>Items: 5</p>
    <p>Total: 10000</p>
    <button id="checkout-button" hx-post="/checkout" hx-target="#cart-container" hx-swap="innerHTML">Finish</button>
  </div>
</div>





<!-- <sl-menu>
  <sl-menu-item class="search-menu-item">
      <img
        slot="prefix"
        src="https://images.unsplash.com/photo-1547191783-94d5f8f6d8b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80"
        alt="A kitten walks towards camera on top of pallet." />
      kitten
  </sl-menu-item>
  <sl-menu-item class="search-menu-item">
      <img
        slot="prefix"
        src="https://images.unsplash.com/photo-1547191783-94d5f8f6d8b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80"
        alt="A kitten walks towards camera on top of pallet." />
      kitten
  </sl-menu-item>
</sl-menu> -->


<!-- <sl-drawer label="Drawer" class="drawer-overview">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  <sl-button slot="footer" variant="primary">Close</sl-button>
</sl-drawer>

<sl-button>Open Drawer</sl-button>

<script>
  const drawer = document.querySelector('.drawer-overview');
  const openButton = drawer.nextElementSibling;
  const closeButton = drawer.querySelector('sl-button[variant="primary"]');

  openButton.addEventListener('click', () => drawer.show());
  closeButton.addEventListener('click', () => drawer.hide());
</script>
 -->


{% endblock %}