<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <title>GIVE ME NAME</title>

    <!-- <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.2"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-alpha4/dist/htmx.min.js"
        integrity="sha384-PDdj2nduKy1q0jypHdCWFooDDtqv/oZIRlt2KvIJ6i1OHNnAJ5vCYA1Gl6SLNtsv"
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js"
        integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <!-- <link rel="stylesheet" href="/static/css/base.css" /> -->
    <link rel="stylesheet" href="/static/css/theme.css" />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


</head>

<body class="bg-[#FFFDF8]">

    <header class="sticky top-0 bg-[#FFFDF8] border-b-[3px] border-gray-900 z-50">
        <div class="max-w-4xl mx-auto px-4">
            <div class="flex justify-between items-center h-16">

                <div class="flex items-center gap-4">
                    <h1 class="text-2xl font-bold tracking-tight">
                        <a href="/" class="hover:opacity-80 transition-opacity">
                            <span class="text-gray-900">IKMI</span> <span class="text-[#FE4A60]">Mart</span>
                        </a>
                    </h1>
                </div>

                <nav class="flex items-center space-x-12">
                    <div class="flex items-center gap-6">

                        {%include 'home/about.html' %}

                        <h3 class="text-xl tracking-tight">
                            <a 
                            href="/catalog"
                            class="hover:opacity-80 transition-opacity">
                                <span class="text-gray-800">Catalog</span>
                        </a>
                        </h3>

                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div id="main-content">
        {% block main_content %}{% endblock %}
    </div>

    <footer>
    </footer>

</body>

</html>

<!-- <dialog id="about" >
  <button autofocus
  _ ="
    on click call #about's close()"
  >Close</button>
  <p>This modal dialog has a groovy backdrop!</p>
</dialog>
<button
_ ="
  on click call #about's showModal()"
>Show the dialog</button> -->