<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">

    <title>IKMI Mart</title>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js"
        integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <link href="/static/css/tailwind.css" rel="stylesheet">
</head>

<body class="bg-[#FFFDF8]">

    <header class="sticky top-0 bg-[#FFFDF8] border-b-[3px] border-gray-900 z-1000">
        <div class="max-w-4xl mx-auto px-4">
            <div class="flex justify-between items-center h-16">
                <div class="flex items-center gap-4">
                    <h1 class="text-2xl font-bold tracking-tight">
                        <a href="/" class="hover:opacity-80 transition-opacity">
                            <span class="text-gray-900">IKMI</span> <span class="text-[#FE4A60]">Mart</span>
                        </a>
                    </h1>
                </div>

                <nav class="flex items-center space-x-12">
                    <div class="flex items-center gap-2 md:gap-6">
                        {%include 'home/about.html' %}

                        <h3 class="text-base md:text-xl tracking-tight">
                            <button class="hover:opacity-80 transition-opacity" _="on click call #about's showModal()">
                                <span class="text-gray-800">About</span>
                            </button>
                        </h3>

                        <h3 class="text-base md:text-xl tracking-tight">
                            <a href="/admin/products" class="hover:opacity-80 transition-opacity">
                                <span class="text-gray-800">Admin</span>
                            </a>
                        </h3>

                        <h3 class="text-base md:text-xl tracking-tight">
                            <a href="/catalog" class="hover:opacity-80 transition-opacity">
                                <span class="text-gray-800">Catalog</span>
                            </a>
                        </h3>

                        <h3 class="text-base md:text-xl tracking-tight">
                            <button _="on click 
                set #feedback-textarea's value to ''
                set #feedback-response's innerHTML to ''
                call #feedback's showModal()
              " class="bg-blue-500 text-white text-md flex flex-row gap-2 border-2 rounded-md border-gray-900 shadow-[4px_4px_0px] shadow-gray-900 flex items-center justify-center cursor-pointer active:bg-blue-600 p-2">
                                <span class="text-white">Chat</span>
                            </button>
                        </h3>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div id="main-content">
        {% block main_content %}{% endblock %}
    </div>

    <dialog id="feedback" _="on submit wait 1s then call #feedback's close()"
        class="fixed inset-0 m-auto min-w-3/4 p-4 bg-[#fff4da] border-3 rounded-xl border-gray-900 shadow-[10px_10px_0px] shadow-gray-900  backdrop:backdrop-blur-sm backdrop:bg-black/30">
        <div class="flex justify-between items-center mb-2 font-bold text-xl">
            <span>Kirim Pesan</span>
            <button autofocus _="on click call #feedback's close()">
                <span class="material-symbols-outlined text-2xl">close</span>
            </button>
        </div>
        <form hx-post="/feedback" hx-target="#feedback-response" hx-swap="innerHTML">
            <div class="flex flex-col gap-3">
                <textarea id="feedback-textarea" name="feedback_text" rows="5" required minlength="5"
                    class="w-full p-2 border-2 border-gray-900 rounded-md resize-none bg-sky-50"
                    placeholder="Pesan harus lebih dari 5 karakter..."></textarea>
                <button type="submit"
                    class="bg-blue-500 cursor-pointer text-white text-md flex flex-row gap-2 border-2 rounded-md border-gray-900 shadow-[4px_4px_0px] shadow-gray-900 flex items-center justify-center active:bg-blue-600 p-2">
                    Send
                </button>
            </div>
        </form>
        <div id="feedback-response" class="mt-4 text-green-600 font-medium h-6"></div>
    </dialog>


    {% block carousel %}
    <div hx-get="/carousel-images" hx-trigger="load" hx-target="#carousel-container" hx-swap="innerHTML"
        class="fixed bottom-4 right-4 w-72 h-9 z-50">
    </div>
    <div id="carousel-container" class="h-full w-full"></div>
    {% endblock %}

    <script>
        let timeoutId;
        function resetTimer() {
            clearTimeout(timeoutId);
            const carousel = document.getElementById('carousel-dialog');
            if (!carousel || !carousel.open) {
                timeoutId = setTimeout(reloadPage, 60000 * 3);
            }
        }
        function reloadPage() {
            const carousel = document.getElementById('carousel-dialog');
            if (!carousel || !carousel.open) {
                location.reload();
            }
        }
        resetTimer();
        document.addEventListener('mousemove', resetTimer);
        document.addEventListener('keypress', resetTimer);
        document.addEventListener('click', resetTimer);
        document.addEventListener('scroll', resetTimer);
        document.addEventListener('touchstart', resetTimer);
        document.addEventListener('touchmove', resetTimer);
        document.addEventListener('keydown', resetTimer);
        document.addEventListener('keyup', resetTimer);
        document.addEventListener('input', resetTimer);
    </script>

    <footer></footer>
</body>

</html>